<h1 class="center-align teal-text text-darken-2"><i class="medium material-icons">list</i> Bucket List</h1>

<div class="row">
  <div class="col m12 l6 center-align">
    <h4 class="teal-text text-lighten-1">To do</h4>
    <ul class="items todo left-align">
      {{#each items}} 
        {{#unless accomplished}} 
          {{> items/item-block}} 
        {{/unless}} 
      {{/each}}
    </ul>
  </div>
  <div class="col m12 l6 center-align">
    <h4 class="teal-text text-lighten-1">Done</h4>
    <ul class="items done left-align">
      {{#each items}}
        {{#if accomplished}}
          {{> items/item-block}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


<h4 class="teal-text text-lighten-2">Add an item</h4>
<form class="create-form">

  <div class="input-field">
    <label for="item">Item</label>
    <input type="text" id="item" name="item" required>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="submit">Add Item
    <i class="material-icons right">add</i>
  </button>
</form>