<li>
	{{#unless accomplished}}
	<button class="btn waves-effect waves-light accomplish-item" data-id="{{id}}">
        <i class="material-icons center">done</i>
    </button>
	{{/unless}}
	{{item}}
</li>
